<div class="container">
  <div class="row">

    <div class="col-md-10">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-md-2 text-right" style="font-size: 20px;">
      <button class="btn btn-primary" routerLink="covid">
        Back
      </button>
      <!-- <a routerLink="covid">Back</a> -->
    </div>
  </div>
  <table mat-table [dataSource]=" dataSource" matSort class="mat-elevation-z2">
    <div style="background-color: aqua;">
      <!-- Index Column -->
      <ng-container matColumnDef="Index">
        <th mat-header-cell *matHeaderCellDef class="cell-color"> SNo. </th>
        <td mat-cell *matCellDef="let element" class="cell-color"> {{element.Index}} </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef class="cell-color"> State </th>
        <td mat-cell *matCellDef="let element" class="cell-color"> {{element.State}} </td>
      </ng-container>

      <!-- Total Cases Column -->
      <ng-container matColumnDef="Total Cases">
        <th mat-header-cell *matHeaderCellDef class="cell-color"> Total Cases </th>
        <td mat-cell *matCellDef="let element" class="cell-color"> {{element['Total Cases']}} </td>
      </ng-container>

      <!-- Active Cases Column -->
      <ng-container matColumnDef="Cases Active">
        <th mat-header-cell *matHeaderCellDef class="cell-color"> Cases Active </th>
        <td mat-cell *matCellDef="let element" class="cell-color"> {{element['Cases Active']}} </td>
      </ng-container>

      <!-- Recovered Cases Column -->
      <ng-container matColumnDef="Cases Recovered">
        <th mat-header-cell *matHeaderCellDef class="cell-color"> Cases Recovered </th>
        <td mat-cell *matCellDef="let element" class="cell-color"> {{element['Cases Recovered']}} </td>
      </ng-container>

      <!-- Deceased Cases Column -->
      <ng-container matColumnDef="Cases Deceased">
        <th mat-header-cell *matHeaderCellDef class="cell-color"> Cases Deceased </th>
        <td mat-cell *matCellDef="let element" class="cell-color"> {{element['Cases Deceased']}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-cell"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row-cell"></tr>
    </div>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 35]" showFirstLastButtons></mat-paginator>
</div>
